/* General Styles */

header .heading {
    font-size: 130px;
    padding-top: 150px;
    margin-left: 150px;
}
#head-section{
    background-image: url(./images/Untitled\ design.png);
    width: 100%;
    height: 800px;
    margin-top: 0;
    margin-bottom: 50px;
}
header .container{
    position: relative;
}
header .heading{
    font-size: 130px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    width: 750px;
    padding-top: 150px;
    margin-left: 150px;
    color: #7b2cbf;
}
header div img{
    width: 515px;
    position: absolute;
    top: 150px;
    right: 100px;
    z-index: +2;
}
header .container .color-bg{
    background-color: #7b2cbf;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 600px;
    z-index: +1;
}
header .container .circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: 150px;
    background-color: #7b2cbf;
}
header .container .name{
    color: white;
    padding-top: 30px;
    margin-left: 150px;
}


/*about-me*/
#about-me{
}
#about-me .container{
    display: grid;
    grid-template-columns:  600px 1fr;
    grid-template-rows: 295px 380px 50px;
    gap: 10px;
}
#about-me .container .image-left{
    display: flex;
    justify-content: center;
}
#about-me .container .about-me-round{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #e0aaff;
    z-index: -1;
}
#about-me .container .img-aboutme{
    width: 400px;
    z-index: +1;
    position: relative;
    bottom: 450px;
    left: 50px;
}
#about-me .container .shape-rectangle{
    margin-left: 10px;
    position: relative;
    bottom: 224px;
    width: 1343px;
    height: 265px;
    background-color: #1a0047;
    z-index: -2;
}
#about-me .container .my-details div h2{
    font-size: 100px;
    color: #7b2cbf;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#about-me .container .my-details div h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
#about-me .container .my-details .greeting-details p{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
#about-me .container .aboutme-paragraph{
    background-color: #7b2cbf;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 10px;
    height: 380px;
    z-index: -1;
}
#about-me .container .aboutme-paragraph p{
    grid-column-start: 2;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}


#main{
    background-image: url(./images/Untitled\ design.png);
}
#main .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 800px;
    position: relative;
    color: white;
    gap: 10px;
}
#main .container .table{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
}
#main .container .education .qualification{
    background-color: white;
    border: solid #e0aaff;
    width: 325px;
    height: 390px;
    border-radius: 20px;
    text-align: center;
}
#main .container .education .qualification .line{
    margin-left: 30px;
    width: 266px;
}
#main .clr .line{
    width: 230px;
}
#main .container .head{
    text-align: center;
    width: 300px;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 50px;
}
#main .container .di-img-main{
    position: relative;
    top: 200px;
    height: 600px;
    z-index: +1;
}

#main .container .di-img-main .img-main-round{
    position: absolute;
    bottom: 250px;
    background-color: #e0aaff;
    width: 425px;
    height: 425px;
    border-radius: 100%;
    z-index: 0;
}

#main .container .img-main{
    position: absolute;
    left: 40px;
    height: 600px;
}

#main .container .skill .Skills{
    padding-left: 50px;
    background-color: white;
    border: solid #e0aaff;
    width: 325px;
    height: 390px;
    border-radius: 20px;
    list-style: none;
}
#main .container .skill .Skills ul{
    list-style: none;
}
#main .container .skill .Skills h4{
    padding: 0px;
    padding-top: 5px;
}
#main .container .skill .Skills ul li{
    padding-top: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}
#main .clr{
    background-color:;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    padding-top: 20px;
    margin-top: 10px;
}

#main .main-rectangle{
    width: 100%;
    height: 317px;
    background-color: #7b2cbf;
    position: absolute;
    bottom: 10px;
    z-index: 0;
}



#projects{
    
}
#projects .container{
    position: relative;
    padding-top: 70px;
    padding-bottom: 80px;
}
#projects .container .projects-rectangle{
    background-color: #1a0047;
    width: 370px;
    height: 762px;
    position: absolute;
    z-index: -1;
    top: 5px;
}
#projects .container .project-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7b2cbf;
    height: 625px;
    margin-left: 60px;
    gap: 50px;
    border-top-left-radius: 40px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 760px 50px;
    gap: 10px;*/
}

#projects .container .project-container .projects{
    display: flex;
    gap: 40px;
}
#projects .container .project-container .project-name h2{
    font-size: 100px;
    width: 400px;
    font-weight: 700;
    color: #e0aaff;
    /*grid-area: 2/1/3/3;*/
}
#projects .container .project-container .project-name p{
    font-size: 22px;
    font-weight: 600;
}
#projects .container .project-container .project-name ul{
    font-weight: 300;
    font-size: 18px;
}
#projects .container .project-container .project-1{
    position: relative;
}
#projects .container .project-container .project-1 img{
    width: 257px;
    height: 385px;
    border-radius: 20px;
    /*grid-area: 2 / 3 / 3 / 4;*/
}
#projects .container .project-container .no-1{
    background-color: #1a0047;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    border: solid white;
}
#projects .container .project-container .project-2{
    position: relative;
    /*grid-area: 2 / 4 / 3 / 5;*/
}
#projects .container .project-container .project-2 img{
    width: 257px;
    height: 385px;
    border-radius: 20px;
}
#projects .container .project-container .project-title{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}
#projects .container .project-container .project-para{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0;
}



footer{
    background-image: url(./images/Untitled\ design.png);
}
footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 800px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
}
footer .container .image-left .footer-image{
    z-index: +5;
    position: relative;
}
footer .container .image-left .footer-circle{
    font-size: 3;
    background-color: #7b2cbf;
    height: 450px;
    width: 450px;
    position: absolute;
    border-radius: 100%;
    z-index: 0;
}
footer .container .footer-content{
    margin-left: 50px;
    align-self: center;
}
footer .container .footer-content .touch h2{
    font-size: 100px;
    font-weight: 600;
    color: #e0aaff;
}
footer .container .footer-content .touch p{
    font-weight: 300;
    text-align: left;
    width: 600px;
    font-size: 20px;
}
footer .container .footer-content .contact-me{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}





@media screen and (max-width:1400px) {
    #head-section{
        width: 100%;
        height: 700px;
    }
    header div img{
        right: 2px;
        width: 400px;
    }
    header .heading{
        font-size: 80px;
        width: 500px;
    }
    header .container .circle{
        right: 50px;
        width: 250px;
        height: 250px;
    }
    header .container .color-bg{
        top: 480px;
        width: 823px;
    }


    #about-me{
        margin-bottom: 20px;
    }
    #about-me .container{
        grid-template-columns:  450px 1fr;
        grid-template-rows: 200px 250px 50px;
    }
    #about-me .container .img-aboutme{
        width: 277px;
        bottom: 300px;
    }
    #about-me .container .about-me-round{
        width: 345px;
        height: 345px;
    }
    #about-me .container .my-details div h2{
        font-size: 60px;
    }
    #about-me .container .my-details div h3{
        font-size: 22px;
    }
    #about-me .container .aboutme-paragraph{
        grid-template-columns:  450px 1fr;
        height: 268px;
    }
    #about-me .container .my-details .greeting-details p{
        font-size: 19px;
    }
    #about-me .container .aboutme-paragraph p{
        font-size: 17px;
    }
    #about-me .container .shape-rectangle{
        bottom: 124px;
    }
    #about-me .container .shape-rectangle{
        height: 186px;
        width: 934px;
    }



    #main .container{
        grid-template-rows: 600px;
    }
    #main .container .di-img-main .img-main{
        left: 18px;
        height: 442px;
        width: 265px;
    }
    #main .container .di-img-main{
        top: 150px;
    }
    #main .container .di-img-main .img-main-round{
        height: 310px;
        width: 310px;
        bottom: 350px;
    }
    #main .container .head{
        font-size: 30px;
        width: 240px
    }
    #main .container .skill .Skills{
        width: 240px;
        height: 300px;
    }
    #main .container .education .qualification{
        width: 240px;
        height: 300px;
        background-color: white;
    }
    #main .main-pargraph{
        font-size: 12px;
    }
    #main .main-container-topic{
        font-size: 16px;
    }
    #main .line{
        padding: 0;
        margin: 0;
        width: 180px;
    }
    #main .container .education .qualification .line{
        width: 180px;
    }
    #main .clr .line{
        width: 160px;
    }
    #main .main-container-date{
        font-size: 15px;
    }
    #main .container .skill .Skills ul li{
        font-size: 12px;
    }
    #main .container .skill .Skills ul li img{
        width: 15px;
    }
    #main > div > div.skill.table > div > div > h4{
        margin: 0;
        margin-top: 2px;
    }
    #main .main-rectangle{
        height: 235px;
    }




    #projects .container{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    #projects .container .project-container .project-name h2{
        font-size: 60px;
        width: 250px;

    }
    #projects .container .project-container .project-name p{
        font-size: 16px;
    }
    #projects .container .project-container .project-name ul{
        font-size: 15px;
    }
    #projects .container .project-container .project-1 img{
        height: 264px;
        width: 176px;
    }
    #projects .container .project-container .project-2 img{
        height: 264px;
        width: 176px;
    }
    #projects .container .project-container .project-title{
        font-size: 15px;
    }
    #projects .container .project-container .project-para{
        font-size: 15px;
    }
    #projects .container .project-container{
        width: ;
        height: 428px;
    }
    #projects .container .projects-rectangle{
        width: 252px;
        height: 527px;
    }
    #projects .container .project-container .no-1{
        width: 45px;
        height: 45px;
    }



    footer .container{
        height: 550px;
    }
    footer .container .image-left .footer-image{
        height: 491px;
        width: 411px;
    }
    footer .container .image-left .footer-circle{
        width: 380px;
        height: 380px;
    }
    footer .container .footer-content .touch h2{
        font-size: 60px;
    }
    footer .container .footer-content .touch p{
        font-size: 15px;
    }
    footer .container .footer-content .contact-me div h6{
        font-size: 15px;
    }
    footer .container .footer-content .contact-me div p{
        font-size: 15px;
    }
}



@media screen and (max-width:992px) {
    #head-section{
        width: 100%;
        height: 550px;
        margin-bottom: 30px;
    }
    header div img{
        right: 2px;
        width: 390px;
        top: 50px;
    }
    header .heading{
        font-size: 65px;
        width: 400px;
        margin-left: 50px;
        padding-top: 50px;
    }
    header .container .circle{
        right: 50px;
        width: 240px;
        height: 240px;
        top: 20px;
    }
    header .container .color-bg{
        top: 380px;
        width: 600px;
        height: 76px;
    }
    header .container .name{
        margin-left: 50px;
        font-size: 22px;
        padding-top: 23px;
    }




    #about-me{
        margin-bottom: 20px;
    }
    #about-me .container{
        grid-template-columns:  300px 1fr;
        grid-template-rows: 150px 200px 30px;
    }
    #about-me .container .img-aboutme{
        width: 215px;
        height: 365px;
        bottom: 270px;
        left: 25px;
    }
    #about-me .container .about-me-round{
        width: 268px;
        height: 268px;
    }
    #about-me .container .my-details div h2{
        font-size: 45px;
    }
    #about-me .container .my-details div h3{
        font-size: 16px;
    }
    #about-me .container .aboutme-paragraph{
        grid-template-columns:  300px 1fr;
        height: 200px;
    }
    #about-me .container .my-details .greeting-details p{
        font-size: 15px;
    }
    #about-me .container .aboutme-paragraph p{
        font-size: 14px;
    }
    #about-me .container .shape-rectangle{
        bottom: 170px;
        height: 15px;
    }
    #about-me .container .shape-rectangle{
        height: 186px;
        width: 728px;
    }



    #main .container{
        grid-template-rows: 450px;
    }
    #main .container .di-img-main .img-main{
        left: 14px;
        height: 344px;
        width: 207px;
    }
    #main .container .di-img-main{
        top: 100px;
    }
    #main .container .di-img-main .img-main-round{
        height: 225px;
        width: 225px;
        bottom: 350px;
    }
    #main .container .head{
        font-size: 22px;
        width: 187px;
        padding-bottom: 35px;
    }
    #main .container .skill .Skills{
        width: 187px;
        height: 225px;
        padding-top: 5px;
        padding-left: 35px;
    }
    #main .container .education .qualification{
        width: 187px;
        height: 225px;
        background-color: white;
    }
    #main .container .education .qualification .clr{
        padding-top: 0;
        padding-bottom: 0;
        
    }
    #main .main-pargraph{
        font-size: 10px;
        margin-bottom: 5px;
    }
    #main .main-container-topic{
        font-size: 12px;
        margin-bottom: 5px;
    }
    #main .line{
        /*padding: 0;
        margin: 0;*/
    }
    #main .container .education .qualification .line{
        width: 120px;
    }
    #main .clr .line{
        width: 100px;
    }
    #main .main-container-date{
        font-size: 12px;
    }
    #main .container .skill .Skills ul{
        margin-bottom: 0;
    }
    #main .container .skill .Skills ul li{
        font-size: 9px;
    }
    #main .container .skill .Skills ul li img{
        width: 9px;
    }
    #main > div > div.skill.table > div > div > h4{
        margin: 0;
        margin-top: 2px;
    }
    #main .main-rectangle{
        height: 181px;
    }




    #projects .container{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    #projects .container .project-container .project-name h2{
        font-size: 48px;
        width: 200px;
    }
    #projects .container .project-container .project-name{
        padding-left: 20px;
    }
    #projects .container .project-container .project-name p{
        font-size: 13px;
    }
    #projects .container .project-container .project-name ul{
        font-size: 12px;
    }
    #projects .container .project-container .project-1 img{
        height: 205px;
        width: 137px;
    }
    #projects .container .project-container .project-2{
        padding-right: 20px;
    }
    #projects .container .project-container .project-2 img{
        height: 205px;
        width: 137px;
    }
    #projects .container .project-container .project-title{
        font-size: 10px;
    }
    #projects .container .project-container .project-para{
        font-size: 10px;
    }
    #projects .container .project-container{
        width: fit-content;
        height: 333px;
        margin-left: 45px;
    }
    #projects .container .projects-rectangle{
        width: 197px;
        height: 410px;
    }
    #projects .container .project-container .no-1{
        width: 45px;
        height: 45px;
    }



    footer .container{
        height: 550px;
    }
    footer .container .image-left .footer-image{
        height: 382px;
        width: 321px;
    }
    footer .container .image-left .footer-circle{
        width: 295px;
        height: 295px;
    }
    footer .container .footer-content .touch h2{
        font-size: 48px;
    }
    footer .container .footer-content .touch p{
        font-size: 13px;
        width: 400px;
    }
    footer .container .footer-content .contact-me div h6{
        font-size: 13px;
    }
    footer .container .footer-content .contact-me div p{
        font-size: 13px;
    }
}




@media screen and (max-width:768px) {
    #head-section{
        width: 100%;
        height: 350px;
        margin-bottom: 30px;
    }
    header div img{
        right: 2px;
        width: 226px;
        height: 255px;
        top: 50px;
    }
    header .heading{
        font-size: 45px;
        width: 320px;
        margin-left: 40px;
        padding-top: 40px;
    }
    header .container .circle{
        right: 20px;
        width: 160px;
        height: 160px;
        top: 20px;
    }
    header .container .color-bg{
        top: 240px;
        width: 450px;
        height: 45px;
    }
    header .container .name{
        margin-left: 50px;
        font-size: 15px;
        padding-top: 14px;
    }




    #about-me{
        margin-bottom: 20px;
    }
    #about-me .container{
        grid-template-columns:  200px 1fr;
        grid-template-rows: 110px 155px 10px;
    }
    #about-me .container .img-aboutme{
        width: 160px;
        height: 275px;
        bottom: 200px;
        left: 25px;
    }
    #about-me .container .about-me-round{
        width: 200px;
        height: 200px;
    }
    #about-me .container .my-details div h2{
        font-size: 36px;
    }
    #about-me .container .my-details div h3{
        font-size: 12px;
    }
    #about-me .container .aboutme-paragraph{
        grid-template-columns:  200px 1fr;
        height: 155px;
    }
    #about-me .container .my-details .greeting-details p{
        font-size: 10px;
    }
    #about-me .container .aboutme-paragraph p{
        font-size: 10px;
    }
    #about-me .container .shape-rectangle{
        bottom: 100px;
        height: 15px;
    }
    #about-me .container .shape-rectangle{
        height: 105px;
        width: 543px;
    }




    #main .container{
        grid-template-rows: 350px;
    }
    #main .container .di-img-main .img-main{
        left: 5px;
        height: 257px;
        width: 155px;
    }
    #main .container .di-img-main{
        top: 90px;
    }
    #main .container .di-img-main .img-main-round{
        height: 160px;
        width: 160px;
        bottom: 470px;
    }
    #main .container .head{
        font-size: 15px;
        width: 140px;
        padding-bottom: 35px;
    }
    #main .container .skill .Skills{
        width: 139px;
        height: 180px;
        padding-top: 5px;
        padding-left: 20px;
    }
    #main .container .education .qualification{
        width: 139px;
        height: 180px;
        background-color: white;
    }
    #main .container .education .qualification .clr{
        padding-top: 0;
        padding-bottom: 0;
        
    }
    #main .main-pargraph{
        font-size: 7px;
        margin-bottom: 5px;
    }
    #main .main-container-topic{
        font-size: 10px;
        margin-bottom: 5px;
    }
    #main .line{
        /*padding: 0;
        margin: 0;*/
    }
    #main .container .education .qualification .line{
        width: 120px;
    }
    #main .clr .line{
        width: 100px;
    }
    #main .main-container-date{
        font-size: 12px;
    }
    #main .container .skill .Skills ul{
        margin-bottom: 0;
        padding: 0;
    }
    #main .container .skill .Skills ul li{
        font-size: 7px;
    }
    #main .container .skill .Skills ul li img{
        width: 7px;
    }
    #main > div > div.skill.table > div > div > h4{
        margin: 0;
        margin-top: 2px;
    }
    #main .main-rectangle{
        height: 135px;
    }




    #projects .container{
        padding-top: 20px;
        padding-bottom: 25px;
    }
    #projects .container .project-container .project-name h2{
        font-size: 36px;
        width: 150px;
    }
    #projects .container .project-container{
        margin-left: 25px;
        width: fit-content;
        height: 270px;
    }
    #projects .container .project-container .project-name{
        padding-left: 13px;
    }
    #projects .container .project-container .project-name p{
        font-size: 11px;
    }
    #projects .container .project-container .project-name ul{
        font-size: 10px;
    }
    #projects .container .project-container .project-1 img{
        height: 153px;
        width: 103px;
    }
    #projects .container .project-container .project-2{
        padding-right: 20px;
    }
    #projects .container .project-container .project-2 img{
        height: 153px;
        width: 103px;
    }
    #projects .container .project-container .project-title{
        font-size: 10px;
    }
    #projects .container .project-container .project-para{
        font-size: 10px;
    }
    #projects .container .project-container{
       
    }
    #projects .container .projects-rectangle{
        width: 147px;
        height: 305px;
    }
    #projects .container .project-container .no-1{
        width: 45px;
        height: 45px;
    }



    footer .container{
        height: 350px;
    }
    footer .container .image-left .footer-image{
        height: 286px;
        width: 239px;
    }
    footer .container .image-left .footer-circle{
        width: 221px;
        height: 221px;
    }
    footer .container .footer-content .touch h2{
        font-size: 37px;
        padding-top: 15px;
    }
    footer .container .footer-content .touch p{
        font-size: 10px;
        width: 300px;
        padding-top: 15px;
    }
    footer .container .footer-content .contact-me div h6{
        font-size: 10px;
    }
    footer .container .footer-content .contact-me div p{
        font-size: 10px;
    }
}







@media screen and (max-width:576px) {
    #head-section{
        width: 100%;
        height: 700px;
        margin-bottom: 30px;
    }
    header div img{
        right: 40px;
        width: 331px;
        height: 373px;
        top: 250px;
    }
    header .heading{
        font-size: 50px;
        width: 323px;
        margin-left: 100px;
        padding-top: 50px;
    }
    header .container .circle{
        right: 70px;
        width: 233px;
        height: 233px;
        top: 200px;
    }
    header .container .color-bg{
        top: 600px;
        width: 100%;
        height: 61px;
    }
    header .container .name{
        font-size: 18px;
        padding-top: 20px;
        margin-left: 100px;
    }




    #about-me{
        margin-bottom: 20px;
    }
    #about-me .container{
        padding-left: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 130px 200px 0;
    }
    #about-me .container .img-aboutme{
        width: 195px;
        height: 343px;
        bottom: 180px;
        left: 25px;
    }
    #about-me .container .about-me-round{
        width: 243px;
        height: 243px;
    }
    #about-me .container .my-details{
        grid-row: 2;
    }
    #about-me .container .my-details div h2{
        font-size: 43px;
        padding-left: 40px;
    }
    #about-me .container .my-details div h3{
        font-size: 16px;
        padding-left: 40px;
    }
    #about-me .container .aboutme-paragraph{
        grid-template-columns: 0;
        height: 200px;
        padding-left: 20px;
    }
    #about-me .container .my-details .greeting-details p{
        font-size: 13px;
        padding-left: 40px;
    }
    #about-me .container .aboutme-paragraph p{
        font-size: 13px;
        width: fit-content;
    }
    #about-me .container .shape-rectangle{
        bottom: 170px;
        height: 15px;
    }
    #about-me .container .shape-rectangle{
        height: 181px;
        width: 100%;
    }



    #main .container{
        grid-template-columns: 1fr;
        grid-template-rows: 380px 400px 380px;
    }
    #main .container .di-img-main .img-main{
        height: 330px;
        width: 198px;
        position: static;
    }
    #main .container .di-img-main{
        grid-row: 2;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        /*display: grid;
        gap: 5px;
        grid-template-columns: 0.5fr 1fr 0.5fr;*/
        grid-column: ;
    }
    #main .container .di-img-main .img-main-round{
        position: absolute;
        z-index: -1;
        height: 0;
        width: 0;
        
    }
    #main .container .head{
        font-size: 25px;
        width: 140px;
        padding-bottom: 35px;
        margin-left: 70px;
        margin-top: 40px;
    }
    #main .container .skill .Skills{
        width: 273px;
        height: 263px;
        padding-top: 5px;
        padding-left: 35px;
    }
    #main .container .education .qualification{
        width: 273px;
        height: 263px;
        background-color: white;
    }
    #main .container .education .qualification .clr{
        padding-top: 0;
        padding-bottom: 0;
        
    }
    #main .main-pargraph{
        font-size: 12px;
        margin-bottom: 5px;
    }
    #main .main-container-topic{
        font-size: 15px;
        margin-bottom: 5px;
    }
    #main .line{
        /*padding: 0;
        margin: 0;*/
    }
    #main .container .education .qualification .line{
        width: 120px;
    }
    #main .clr .line{
        width: 100px;
    }
    #main .main-container-date{
        font-size: 12px;
    }
    #main .container .skill .Skills ul{
        margin-bottom: 0;
    }
    #main .container .skill .Skills ul li{
        font-size: 12px;
    }
    #main .container .skill .Skills ul li img{
        width: 12px;
    }
    #main > div > div.skill.table > div > h3{
        margin-top: 0;
    }
    #main > div > div.skill.table > div > div > h4{
        margin: 0;
        margin-top: 2px;
    }
    #main .main-rectangle{
        height: 370px;
        top: 400px;
    }



#projects{
    margin-top: 10px;
}
    #projects .container{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #projects .container .project-container .project-name h2{
        font-size: 60px;
        width: 350px;
    }
    #projects .container .project-container .projects{
        margin-left: 15px;
        gap: 15px;
    }
    #projects .container .project-container .project-name{
        padding-left: 0px;
    }
    #projects .container .project-container .project-name p{
        font-size: 17px;
    }
    #projects .container .project-container .project-name ul{
        font-size: 16px;
    }
    #projects .container .project-container .project-1 img{
        height: 240px;
        width: 160px;
    }
    #projects .container .project-container .project-2{
        padding-right: 20px;
    }
    #projects .container .project-container .project-2 img{
        height: 240px;
        width: 160px;
    }
    #projects .container .project-container .project-title{
        font-size: 12px;
    }
    #projects .container .project-container .project-para{
        font-size: 12px;
    }
    #projects .container .project-container{
        width: 100%;
        height: 700px;
        margin-left: 25px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    #projects .container .projects-rectangle{
        width: 100%;
        height: 200px;
    }
    #projects .container .project-container .no-1{
        width: 45px;
        height: 45px;
    }



    footer .container{
        height: 800px;
        flex-direction: column;
    }
    footer .container .image-left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    footer .container .image-left .footer-image{
        height: 382px;
        width: 321px;
        position: static;

    }
    footer .container .image-left .footer-circle{
        width: 295px;
        height: 295px;
        
    }
    footer .container .footer-content .touch h2{
        font-size: 48px;
    }
    footer .container .footer-content .touch p{
        font-size: 13px;
        width: 400px;
    }
    footer .container .footer-content .contact-me div h6{
        font-size: 13px;
    }
    footer .container .footer-content .contact-me div p{
        font-size: 13px;
    }
}
